@font-face {
    font-family: "Pokemon Logo";
    src: url("Pokemon Solid.ttf") format('truetype');
}

@font-face {
    font-family: "PokemonGB";
    src: url("PokemonGB.ttf") format('truetype');
}

.page_Title { 
	font-family: "Pokemon Logo";
	font-size: 40px;
	line-height: 36px;
}

#full_page { 
	background-color: WhiteSmoke;
	font-family: Arial;
}

#obj_table {
	border:3px solid black;
	background-color: PaleGreen;
	border-radius: 10px;
}

#const_table {
	border:3px solid black;
	background-color: PaleTurquoise;
	border-radius: 10px;
}

#controls_table {
	border:3px solid black;
	background-color: PeachPuff;
	border-radius: 10px;
}

.section_Heading {
	font-family: "PokemonGB";
	font-size: 12px;
}

.name_text {
	font-family: Arial;
	font-size: 10px;
}

#problem_status, #message {
	font-weight: bold;
}

#obj_function_equals, #obj_value_equals {
	text-align: right;
	font-weight: bold;
}
  
#div_objective, #div_obj_value {
	text-align: center;
}
#dd_obj_type , #dd_obj_func, #dd_const_type, #dd_const_lhs, #dd_const_sign{
	font-family: Arial;
	font-size: 14px;
}

#dt_constraints{
  font-family: Arial;	
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  width: 180px;
  padding: 0 0px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
  
  




